KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/io/tty.o \
$(ARCHDIR)/io/kprint.o \
$(ARCHDIR)/io/io.o \
$(ARCHDIR)/sys/gdt.o \
$(ARCHDIR)/sys/gdt-asm.o \
$(ARCHDIR)/sys/idt.o \
$(ARCHDIR)/sys/idt-asm.o \
$(ARCHDIR)/sys/kbd.o \
